<h1 id="wel">Bienvenidos a Effectual Production</h1>
<hr>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div id='uno' class="active item" data-interval="100"><%= image_tag('images.jpg', :width=>'600') %>
       <blockquote id="uno" class="pull-right">
      <p> Accede desde tu movil o tablet a internet,</p>
      <p> ingresa a Save Driving</p>
      <p> en cualquier momento que desees</p>
      <p> mira todos los beneficios</p>
      <p>sin pólizas ni cláusulas de permanencia</p>
      </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('3.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
      <p> Accede desde tu movil o tablet a internet,</p>
      <p> ingresa a Save Driving</p>
      <p> en cualquier momento que desees</p>
      <p> mira todos los beneficios</p>
      <p>sin pólizas ni cláusulas de permanencia</p>
      </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('conf.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
      <p> Accede desde tu movil o tablet a internet,</p>
      <p> ingresa a Save Driving</p>
      <p> en cualquier momento que desees</p>
      <p> mira todos los beneficios</p>
      <p>sin pólizas ni cláusulas de permanencia</p>
      </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('4.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
    <p> Accede desde tu movil o tablet a internet,</p>
    <p> ingresa a Save Driving</p>
    <p> en cualquier momento que desees</p>
    <p> mira todos los beneficios</p>
    <p>sin pólizas ni cláusulas de permanencia</p>
    </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('6.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
    <p> Accede desde tu movil o tablet a internet,</p>
    <p> ingresa a Save Driving</p>
    <p> en cualquier momento que desees</p>
    <p> mira todos los beneficios</p>
    <p>sin pólizas ni cláusulas de permanencia</p>
    </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('7.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
    <p> Accede desde tu movil o tablet a internet,</p>
    <p> ingresa a Save Driving</p>
    <p> en cualquier momento que desees</p>
    <p> mira todos los beneficios</p>
    <p>sin pólizas ni cláusulas de permanencia</p>
    </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"> <%= image_tag('8.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
    <p> Accede desde tu movil o tablet a internet,</p>
    <p> ingresa a Save Driving</p>
    <p> en cualquier momento que desees</p>
    <p> mira todos los beneficios</p>
    <p>sin pólizas ni cláusulas de permanencia</p>
    </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('10.JPG', :width=>'600') %>
      <blockquote id="uno" class="pull-right">
    <p> Accede desde tu movil o tablet a internet,</p>
    <p> ingresa a Save Driving</p>
    <p> en cualquier momento que desees</p>
    <p> mira todos los beneficios</p>
    <p>sin pólizas ni cláusulas de permanencia</p>
    </blockquote>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>