<<<<<<< HEAD
<p id="log">Sign Up</p>
<hr>
<div id='sessione' class='well'>
  <img id="login" src="assets/ingreso.png">
=======
>>>>>>> 235bd7d453691412561f0aeb4c18a482af6e15ce
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
<<<<<<< HEAD
  <div class="actions"><%= submit_tag " Crear Usuario", :class=> 'btn btn-primary'  %></div>
<% end %>
</div>
 <div id="logtexo">
<p align="justify">
      Esta Aplicación estará centrada en el Proceso
      <br><br>
       de control de Producción del Centro 
       <br><br>
      de confección y moda (SENA), y por esta razón  
      <br><br>
     constará de cuatro (4) Módulos, 
     <br><br>
     ushuisdsa dsdusaidsa uidasdiass dsaskdajsdkasj,
     <br><br>
     djaeduwyewque sjdduwqyew sjdsjdwquwq jdhasdwu
     <br><br>
     shdasdywqdiuw oidwodiqw odiowidwq owdi.
    </p>


</div>

=======
  <div class="actions"><%= f.submit %></div>
<% end %>
>>>>>>> 235bd7d453691412561f0aeb4c18a482af6e15ce
