<%= simple_form_for(@solicitud, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :cantidad %>
	  <%= f.input :cliente_id %>
	  <%= f.input :dias_faltantes %>
	  <%= f.input :fecha_aprobacion %>
	  <%= f.input :fecha_entrega_cliente %>
	  <%= f.input :fecha_solicitud %>
	  <%= f.input :instructor_id %>
	  <%= f.input :producto %>
	  <%= f.input :resolucion %>
	  <%= f.input :saldo %>
	  <%= f.input :total %>
	  <%= f.input :unidades_entregadas %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-info' %>
    <%= link_to 'Cancelar', solicitudes_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
