<%= simple_form_for @estampado, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :fecha_envio %>
  <%= f.input :fecha_llegada %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                estampados_path, :class => 'btn' %>
  </div>
<% end %>
