<%- model_class = Registrocompra -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:descripcion_producto) %></th>
      <th><%= model_class.human_attribute_name(:valor_total) %></th>
      <th><%= model_class.human_attribute_name(:valor_unidad) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registrocompras.each do |registrocompra| %>
      <tr>
        <td><%= link_to registrocompra.id, registrocompra_path(registrocompra) %></td>
        <td><%= registrocompra.descripcion_producto %></td>
        <td><%= registrocompra.valor_total %></td>
        <td><%= registrocompra.valor_unidad %></td>
        <td><%=l registrocompra.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_registrocompra_path(registrocompra), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      registrocompra_path(registrocompra),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_registrocompra_path,
            :class => 'btn btn-primary' %>
