<tr id=<%= "usuario_#{usuario.id}" %>>
  <td><%= usuario.id %></td>
  <td><%= usuario.primnombre %></td>
  <td><%= usuario.primapellido %></td>
  <td><%= usuario.email %></td>
  <td><%= usuario.fecha_nac %></td>
  <td>
    <%= link_to image_tag('mostrar.png', :width=>30, :title=>'Mostrar'), usuario, :remote => true, :class => 'btn btn-success btn-mini' %>
    <%= link_to image_tag('edi.png', :width=>30, :title=>'Editar'), edit_usuario_path(usuario), :remote => true,
        :class => 'btn btn-mini btn-inverse' %>
    <%= link_to image_tag('eliminar.png', :width=>30, :title=>'Eliminar'), usuario, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>