<%= simple_form_for(@nota, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :items, :label => "Items",  :required => true %>
  <%= f.input :num_documento_recibe, :label => "Num documento recibe",  :required => true %>
  <%= f.input :unidad, :label => "Unidad",  :required => true %>
  <%= f.input :tipo, :label => "Tipo",  :required => true %>
  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', notas_path, :class => 'btn btn-small' %>
  </div>
<% end %>
